In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('Admission_Predict.csv')

In [3]:
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [5]:
data.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [6]:
data.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [7]:
data.dtypes

Serial No.             int64
GRE Score              int64
TOEFL Score            int64
University Rating      int64
SOP                  float64
LOR                  float64
CGPA                 float64
Research               int64
Chance of Admit      float64
dtype: object

In [8]:
y=data['Chance of Admit ']

In [9]:
X=data[['GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research']]
X.shape,y.shape

((400, 7), (400,))

In [10]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=14)

In [11]:
X_train.shape

(320, 7)

In [12]:
y_train.shape

(320,)

In [13]:
X_test.shape

(80, 7)

In [14]:
y_test.shape

(80,)

In [15]:
from sklearn.linear_model import LinearRegression

lr=LinearRegression()

In [16]:
lr.fit(X_train,y_train)

LinearRegression()

In [17]:
pred=lr.predict(X_test)

In [18]:
pred

array([0.70910181, 0.60631877, 0.80579274, 0.50672174, 0.8553925 ,
       0.95126223, 0.52344605, 0.66271198, 0.80390397, 0.52788562,
       0.89395068, 0.63048947, 0.74003997, 0.92730424, 0.97645014,
       0.74589238, 0.74171018, 0.90456636, 0.49170068, 0.55952538,
       0.51182904, 0.72395628, 0.78985554, 0.48233273, 0.65240223,
       0.86231843, 0.89347559, 0.70355375, 0.72457533, 0.58656132,
       0.8817622 , 0.79204556, 0.59939476, 0.83664083, 0.64480421,
       0.80906455, 0.68046737, 0.88119768, 0.72648184, 0.86001252,
       0.7117406 , 0.59092987, 0.70414266, 0.61664121, 0.69217729,
       0.5808597 , 0.73243551, 0.81287902, 0.59876509, 0.64942412,
       0.75517388, 0.63985487, 0.55919716, 0.62732593, 0.66411779,
       0.7736635 , 0.72539819, 0.77629895, 0.67441184, 0.83672088,
       0.90282784, 0.53907493, 0.85533759, 0.68234173, 0.55067257,
       0.69295073, 0.96773105, 0.72619494, 0.70001127, 0.69127861,
       0.64513189, 0.95807729, 0.70038076, 0.85623057, 0.68102506,
       0.84589812, 0.95741721, 0.86351943, 0.73175807, 0.55936692])

In [19]:
from sklearn.metrics import mean_absolute_error,mean_absolute_percentage_error

mean_absolute_error(y_test,pred)

0.04388827957667783

In [20]:
accuracy=(1-mean_absolute_error(y_test,pred))*100
accuracy

95.61117204233221